@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Source+Code+Pro:wght@300&display=swap');

body
{
    background-image: url("background.jpg");
    
    background-size: 1345px;
    
}
*
{
    margin: 0;
    padding: 0;
}
.sidebar
{
    /*background-color: red;*/
    background-color: rgb(223, 218, 218);
    /*width: 434px;*/
    font-family: 'Fira-Sans',sans-serif;
    height: 100vh;
    /*transition: transform 0.3s ease-in;*/
}
.sidebar nav
{
    padding: 45px;
}
.sidebar nav li
{
    list-style: none;
    font-size: 30px;
    padding: 33px 0;
}
.main
{
   /*background-color: yellow;*/
   width: 90vw;
}
.container
{
    display: flex;
}
.infoContainer
{
    /*background-color: rgb(189,202,9);*/
    height: 58vh;
    width: 80vw;
    margin: 147px auto;
    display: flex;
    justify-content: space-around;

}
.devPic img
{
    height: 58vh;
}
.devInfo
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Source Code Pro', monospace;
    background-color: grey;
    opacity: 0.8;
    border-radius: 25px;
    padding: 30px;
    text-align: center;
}
.hello
{
    font-size: 65px;
}
.name
{
    font-size: 50px;
    font-weight: bold;
    font-family: 'Fira-Sans', sans-serif;
}
.about
{
    font-size: 40px;
}
.btn
{
    padding: 9px 14px;
    border-radius: 22px;
    color: white;
    background-color: dodgerblue;
    font-weight: bold;
    font-size: 21px;
    margin: 0 3px;
    cursor: pointer;
    margin-top: 15px;
}
.btn-sm
{
    font-size: 10px;
    padding: 7px 12px;
    margin: 10px 20vw;
}
.btn:hover
{
    color: dodgerblue;
    background-color: white;
}
.moreabout
{
    font-size: 22px;
    font-family: 'Fira-Sans', sans-serif;
    margin-top: 23px;
}
.sidebar nav li a
{
    text-decoration: none;
    color: black;
}
.contactform
{
    padding: 0 34px;
    font-family: 'Fira-Sans', sans-serif;
    background-color: grey;
    opacity: 0.8;
    border-radius: 25px;
    width: 50%;
    margin-left: 380px;
    margin-top: 130px;
    align-items: center;
}
.contactform h1
{
    font-family: 'Source Code Pro', monospace;
    padding: 12px 0;
    /*text-align: center;*/
}
.contactform form div
{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}
#emailHelp
{
    font-size: 11px;
    color: midnightblue;
    margin: 0 5px;
    padding: 3px 0 0;
}
.contactform form div input
{
    width: 26vw;
    border-radius: 5px;
    margin: 6px 0 0;
    padding: 3px;
}
#form-check
{
    flex-direction: row;
}
#form-check input
{
    width: 27px;
    margin: 3px 0;
}
.blogItem
{
    margin: 20px;
    font-family: 'Fira-Sans', sans-serif;
}
h1
{
    font-family: 'Fira-Sans', sans-serif;
    margin: 23px;
}
p
{
    font-family: 'Source Code Pro', monospace;
}
.intro
{
    background-color: grey;
    opacity: 0.8;
    border-radius: 25px;
    margin-left: 80px;
    margin-top: 215px;
    padding: 20px;
    padding-top: 5px;
}
.intro h2
{
    font-family: 'Fira-Sans', sans-serif;
    margin: 12px;
    margin-top: 30px;

}
.intro p
{
    font-family: 'Source Code Pro', monospace;
    margin: 12px;
}
.skill
{
    width: 265px;
    height: 6px;
    background-color: red;
    border: 2px solid black;
}
.skillContainer
{
    padding: 12px;
    background-color: grey;
    opacity: 0.8;
    border-radius: 25px;
    padding-top: 5px;
}
.skillItem
{
    display: flex;
    align-items: center;
    font-family: 'Source Code Pro', monospace;
    font-weight: 900px;
}
.hundred
{
    width: 265px;
}
.fifty
{
    width: 125px;
    background-color: aqua;
}
.t5
{
    width: 75px;
    background-color: yellow;
}
@media (max-width: 1245px)
{
    /*
    *
    {
        /background-color: red;
    }
    */
    /*.sidebar
    {
        transform: translate(-443px,0px);
        position: absolute;
    }*/
}
.ham
{
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;
}
.cross
{
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 36px;
}
.cross
{
    margin-left: 160px;
}
.sidebarGo
{
    transform: translate(-443px,0px);
    position: absolute;
}
.profilelinks
{
    width: 25%;
    height: 56%;
    background-color: grey;
    opacity: 0.8;
    font-family: 'Fira-Sans', sans-serif;
    margin-left: 35vw;
    margin-top: 28vh;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
}
.profilelinks a
{
    /*text-decoration: none;*/
    color: black;
    margin: 5px;
    text-shadow: 0pc;
    font-size: 35px;
    text-shadow: 2px 2px black;
}
